<server description="defaultServer">

    <featureManager>
        <feature>jakartaee-10.0</feature>
    </featureManager>
<!-- 
    <library id="postgresql-library">
        <fileset id="PostgreSQLFileset" dir="${shared.resource.dir}/jdbc"
                 includes="postgresql-42.2.5.jar"/>
    </library> -->
    
    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql serverName="172.17.32.1"
                               portNumber="5433"
                               databaseName="train"
                               user="postgres"
                               password="postgres"/>
    </dataSource>

    <library id="postgresql-library">
        <fileset dir="${server.config.dir}/" includes="*.jar"/>
    </library>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password" />
    </basicRegistry>

    <keyStore id="defaultKeyStore" password="password" />

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <webApplication location="jakartaee-hello-world.war" contextRoot="/" />


</server>